@model IEnumerable<PartyInvites.Models.GuestResponse>
@{
    Layout = null;
}
<html>
    <head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <div class="panel-body">
            <h2>Here is list of people attending party</h2>
        <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Phone</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PartyInvites.Models.GuestResponse item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</html>